################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Cart v0.0/bin/Debug
/Cart v0.0/obj/Debug
/.vs/Cart v0.0/v15
